<div>
  <h4>Send a message to the Wanca team</h4>

  <p>You can reach us at our University of Helsinki email addresses (helsinki.fi) using our first name and last name.
    <br>Greeting, Heidi Jauhiainen and Tommi Jauhiainen</p>
</div>


<br><br>


<p>
  If you want to apply for expert rights to be able to verify and change link languages as well as to add new links to Wanca,
  please let us know about your interest in Wanca and Uralic languages, about your language skills and your affiliation if any.
</p>
